{% extends "base.html" %}
{% block content %}
<main role="main">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for tag in categories_tags %}
                <a href="{{ url_for('tags', tag=tag[0].name) }}" class="btn btn-md btn-primary"
                    style="margin-bottom: 10px;">{{ tag[0].name }}
                    ({{ tag[1] }})</a>&ensp;
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    </div> <!-- /container -->
</main>
{% endblock %}