{% extends "base.html" %}
{% block content %}
<main role="main">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>Tags: "{{ tag }}"</h3>
                <br>
                {% for item in results %}
                <h4><b><a href="{{ url_for('question', id=item.id, slug=item.slug) }}">{{ item.title }}</a></b></h4>
                <span>Asked on <i>{{ item.created.strftime('%d-%m-%Y %H:%M:%S') }}</i> by
                    <b>{{ item.user.username }}</b>
                </span>
                <hr>
                <p class="mb-1">{{ item.content }}</p><br>
                {% for tag in item.tags %}
                <a href="{{ url_for('tags', tag=tag.name) }}" class="btn btn-xs btn-primary">{{ tag.name }}</a>
                {% endfor %}
                <br><br>
                <i class="fa fa-eye" aria-hidden="true" title="Views"> {{ item.view }}</i>&ensp;
                <i class="fa fa-comment" aria-hidden="true" title="Answers"> {{ item.answer_count }}</i>&ensp;
                <i class="fa fa-thumbs-up" aria-hidden="true" title="Likes"> {{ item.question_like }}</i>&ensp;
                {% if item.accepted_answer %}
                <span class="badge badge-badge-pill-lg badge-success float-right">Solved</span>
                {% endif %}
                <br>
                <hr>
                {% endfor %}

            </div>
        </div>
    </div>
    <hr>
    </div> <!-- /container -->
</main>
{% endblock %}